body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.96);
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 250ms ease-in;
  transition-property: transform, opacity;
  z-index: 1;
}
.fade-exit {
  transform: scale(1);
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.96);
  transition: 200ms ease-in;
  transition-property: transform, opacity;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: red;
  margin: 4px;
  vertical-align: middle;
  border-radius: 10px;
}

.active {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

/* style dla malego boksu  */

.pcp-hero-section-wrapper .pcp-hero-box-small {
  width: 350px;
  padding: 2em 4em;
  margin: -20px auto 0;
  z-index: 122;
}
